@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
  }

  .text-color-jade {
    @apply text-jade-600 dark:text-jade-400;
  }

  .text-color-base {
    @apply text-grey-700 dark:text-grey-100;
  }

  .text-color-light {
    @apply text-grey-600 dark:text-grey-200;
  }

  .page-title {
    @apply text-center text-lg font-medium;
  }

  .scrollbar-custom::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #dcdcde;
    border-radius: 0.375rem;
  }
}
